<%- include('../includes/header.ejs') %>
    <%- include('./navbar.ejs') %>

        <!-- main -->
        <main class="pt-12 bg-gray-100 pb-12">
            <div class="container mx-auto px-4 flex flex-wrap lg:flex-nowrap">
                <!-- left sidebar -->
                <div class="w-3/12 hidden xl:block">
                    <!-- categories -->
                    <div class="w-full bg-white shadow-sm rounded-sm p-4 ">
                        <h3 class="text-xl font-semibold text-gray-700 mb-3 font-roboto">Requests</h3>
                        <div class="space-y-2">
                            <a href="#"
                                class="flex leading-4 items-center text-gray-700 font-semibold text-sm uppercase transition hover:text-blue-500">
                                <span class="mr-2">
                                    <i class="far fa-user"></i>
                                </span>
                                <span>
                                    <%= contact.username %>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Main content -->
                <div class="xl:w-6/12 lg:w-9/12 w-full  xl:ml-6 lg:mr-6">

                    <!-- big post -->
                    <% if(service.dataInput==true){ %>
                        <div class="flex bg-white px-3 py-2 justify-between items-center rounded-sm mb-5">
                            <h5 class="text-base uppercase font-semibold font-roboto">Add <%= service.serviceType %>
                            </h5>
                            <a href="/Types/<%= contact.id %> "
                                class="text-white py-1 px-3 rounded-sm uppercase text-sm bg-blue-500 border border-blue-500 hover:text-blue-500 hover:bg-transparent transition">
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </div>
                        <div class="rounded-sm overflow-hidden bg-white shadow-sm">
                            <div class="p-4 pb-5">
                                <a href="view.html">
                                    <h2
                                        class="block text-2xl font-semibold text-gray-700 hover:text-blue-500 transition font-roboto">
                                        <%= service.CName %>
                                    </h2>
                                </a>
                                <p class="text-gray-500 text-sm mt-2">
                                    <%= service.titleCenter %>
                                </p>
                                <div class="mt-3 flex space-x-4">
                                    <div class="flex text-gray-400 text-sm items-center">
                                        <span class="mr-2 text-xs">
                                            <i class="far fa-user"></i>
                                        </span>
                                        <%= contact.username %>
                                    </div>
                                    <div class="flex text-gray-400 text-sm items-center">
                                        <span class="mr-2 text-xs">
                                            <i class="far fa-clock"></i>
                                        </span>
                                        June 11, 2021
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- regular post -->
                        <% if(DataCetierType === true) %> 
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
                            <% DataCenter.forEach(DC => { %> 
                            <div class="rounded-sm bg-white p-4 pb-5 shadow-sm">
                                <a href="#" class="block rounded-md overflow-hidden">
                                    <img src="src/images/img-7.jpg"
                                        class="w-full h-60 object-cover transform hover:scale-110 transition duration-500">
                                </a>
                                <div class="mt-3">
                                    <a href="#">
                                        <h2
                                            class="block text-xl font-semibold text-gray-700 hover:text-blue-500 transition font-roboto">
                                            Lorem, ipsum dolor sit amet consec tetur adipisicing elit.
                                        </h2>
                                    </a>
                                    <div class="mt-2 flex space-x-3">
                                        <div class="flex text-gray-400 text-sm items-center">
                                            <span class="mr-2 text-xs">
                                                <i class="far fa-user"></i>
                                            </span>
                                            <%= DC.title %> 
                                        </div>
                                        <div class="flex text-gray-400 text-sm items-center">
                                            <span class="mr-2 text-xs">
                                                <i class="far fa-clock"></i>
                                            </span>
                                            June 11, 2021
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %> 
                        </div>
                        <% } %> 
                        <% }else{ %>
                            <div class="flex bg-white px-3 py-2 justify-between items-center rounded-sm mb-5">
                                <h5 class="text-base uppercase font-semibold font-roboto">Create Center</h5>
                                <a href="/service/<%= contact.id %>"
                                    class="text-white py-1 px-3 rounded-sm uppercase text-sm bg-blue-500 border border-blue-500 hover:text-blue-500 hover:bg-transparent transition">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </div>
                            <% } %>
                </div>
            </div>
        </main>

        <!-- mobile menu -->
        <%- include('./Mobile.ejs') %>
            <!-- footer -->
            <%- include('../includes/footer.ejs') %>